<!-- Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img alt="" src="assets/img/logo/kazah-tech-loader1.png">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->
<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header  header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a [routerLink]="['/']"><img alt="" src="assets/img/logo/kazah-tech-logo.png"></a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="menu-main d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
                    <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
                    <li><a [routerLink]="['/service']" routerLinkActive="active">Services</a></li>
                    <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfolio</a></li>
                    <li><a [routerLink]="['/resume']" routerLinkActive="active">Resume</a></li>
                    <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <div class="header-right-btn f-right d-none d-xl-block ml-20">
                <a class="btn header-btn" href="#">Download Resume</a>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
